# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
.venv/
venv/
env/

# VS Code
.vscode/

# Build files
build/
dist/

# PyInstaller
*.spec

# Logs
*.log

# Windows
Thumbs.db

# Inno Setup
Output/